@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	font-family: Lato;
}

:root {
	--color1: #efefef;
	--color2: #ed8e53;
	--color3: #969696;
	--color-font: black;
	--font: Lato;
}

.container {
	padding: 25px;
	max-width: 1500px;
	margin: 50px auto;
	background-color: var(--color1);
}
/*  */
.title {
	text-align: center;
	margin: 10px 0px;
}
.container-simulator{
	width: max-content;
}
#container-forms {
	max-width: 500px;
	margin-top: 10px;
	display: flex;

	gap: 40px;
}
form{
	display: flex;
	flex-direction: column;
}
label{
	max-width: max-content;
	
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type="number"]
{
	margin-top: 10px;
	border-width: 0 0 1px 0;
	background-color: transparent;
	
	-moz-appearance: textfield;
   appearance: textfield;

}

label p {
	font-size: 12px;
}
.container-buttons{
text-align: center;
margin: 20px 0 ;
}
button{
	
	width: 180px;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	transition: all 1s ease;
}
button:hover{
	background-color: var(--color2);
	width: 180px;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}
#simular{
	background-color: var(--color3);
	border:1px solid var(--color3);
}#simular:hover{
	background-color: var(--color2);
	border:1px solid var(--color3);
}










/* rnedimentos */
.payment-methods {
	list-style: none;
	margin: 0;
	padding: 0;
}
.payment-methods:after {
	content: "";
	clear: both;
}
.payment-method {
	border: 1px solid black;
	float: left;
	height: 30px;
	box-sizing: border-box;
	position: relative;
	width:60px;
}
.payment-method + .payment-method {
	margin-left: 25px;
}
.payment-method label {
	background: #fff no-repeat center center;
	bottom: 1px;
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 0;
	left: 1px;
	text-indent: 100%;
	top: 1px;
	right: 1px;
	white-space: nowrap;
}
.liquido label {
	content: "Liquido";
	
}
.bruto label {
	content: "bruto";
	
}
/* INPUTS */
